test02.flow
[{"id":"75156c77.48e784","type":"inject","z":"e8671d9b.c4a29","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":200,"wires":[["feb58039.2ccad","fa484403.793f88"]]},{"id":"feb58039.2ccad","type":"debug","z":"e8671d9b.c4a29","name":"","active":true,"console":"false","complete":"false","x":330,"y":200,"wires":[]},{"id":"fa484403.793f88","type":"debug","z":"e8671d9b.c4a29","name":"","active":true,"console":"false","complete":"false","x":330,"y":300,"wires":[]}]
